*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    position: relative;
    padding: 0 2rem;
}

.header__nav{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}


.header__nav .links{
    display: flex;
    gap: 2rem;
}

.header__nav .toggle__btn{
    color: #0f0d0d;
    font-size: 1.5rem;
    cursor: pointer;
}

.header__nav li{
    list-style: none;
}

.header__nav a{
    text-decoration: none;
    color: blue;
    font-size: 1em;
}

.dropdown__menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgb(217, 16, 16);
    backdrop-filter: blur (15px);
    border-radius: 10px;
    overflow: hidden;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown__menu .open{
    height: 240px;
}

.dropdown__menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__content{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    

}

.row{
display: flex;
justify-content: space-around;
align-items: center;
gap: 9rem;
outline: 1px solid green;
}



.content{
outline: 1px solid blue;
 width: 600px;
 padding: 3rem;

}

.content__image img{
    outline: 1px solid blue ;
    display: flex;
     width: 300px;
    height: 350px;
    flex-shrink: 1;
}

.content h1{
     text-align: left; 
     margin: 0;
}

.content h2{
    color: rgb(27, 224, 224);
}

.content p{
    text-align: left;
}

.icons{
    display: flex;
    margin: 5px 0;

}

.icon{
    font-size: 25px;
    border-radius: 20px;
   outline: 1px violet;
    
}

.icon a{
    color:  rgb(27, 224, 224);
    padding: 1rem;
}

.footer{
    padding: 1.5rem;
    text-align: center;
    color: #796f6f;
}

@media screen and (max-width:1100px){
    .row{
        gap: 5rem;
    }

    .content{
        width: 100%;
    }



  

   

    /* .content__image img{
        display: none;
    } */


    }

    
@media screen and (max-width: 992px){
    .header__nav .links{
        display: none;
    }

    .header__nav .toggle__btn{
        display: block;
    }

    .dropdown__menu{
        display: block;
    }
}


    
@media screen and (max-width: 576px){
        .dropdown__menu{
            left: 2rem;
            width: unset;
        }
}